~~~
Session.vim
.DS_Store
.cabal-sandbox
.stack-work
*~
*.aux
*.dvi
*.log
*.swp
*.synctex.gz
.#*
*.cabal
*.json
~~~

auto/
*.html
*.Rhistory
*.prof
R/plots/*

~~~
*.shadow-cljs/*
node_modules
*.js*
*/MAlonzo/*
*.agdai